.container__big-card {
  border: 2px solid white;
  width: 600px;
  height: 500px; 
  margin: 0 20px; 

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.big-card__photo > img {
  width: 100%;
  min-width: 600px;
}

.big-card__title > h1 {
  font-size: 20px; 
}

.big-card__description > p {
  color: grey;
}