.container__small-card { 
  width: 500px;
  display: flex; 
  flex-direction: column;
  margin-bottom: 15px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}
.small-card_photo > img { 
  width: 200px;
  min-width: 200px;
}

.small-card__title {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.container__small-card__separator {
  margin-top: 10px;
}